body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.mainhead {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(28, 25, 65, .8), rgba(28, 25, 65, .8)), url(../images/backimage.png);
    background-attachment: fixed;
}

.navigation {
    width: 100%;
    overflow: auto;
}

.navbar {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.navleft {
    width: 40%;
    float: left;
    margin: 0;
}

.navleft ul {
    overflow: auto;
}

.navleft ul li {
    float: left;
    list-style: none;
}

.navleft a {
    text-decoration: none;
}

.navleft h5 {
    color: #fff;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    padding: 0px 10px 10px 10px;
}

.navcenter {
    width: 20%;
    float: left;
    margin: 0;
    text-align: center;
    padding-top: 25px;
}

.navright {
    width: 40%;
    float: left;
    margin: 0;
}

.navright ul {
    overflow: auto;
}

.navright ul li {
    float: left;
    list-style: none;
}

.navright a {
    text-decoration: none;
}

.navright h5 {
    color: #fff;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    padding: 0px 10px 10px 10px;
}

.contentcenter {
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.contentfont {
    color: #26baff;
}

.contentcenter h1 {
    color: #fff;
    font-size: 98px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
}

.contentcenter p {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 35px;
    letter-spacing: normal;
    margin: auto;
    text-align: center;
    padding: 15px 220px 0px 220px;
}

.contentbtn {
    text-align: center;
    padding-top: 50px;
}

.contentbtn a {
    text-decoration: none;
}

.button {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 25px 35px;
    border: 2px solid #26BAFF;
    background-color: #26BAFF;
    border-radius: 3px;
}

.button:hover {
    background-color: transparent;
}

.cnbtn {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 25px 35px;
    border: 2px solid #fff;
    border-radius: 3px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

.cnbtn:hover::before {
    height: 100%;
    width: 100%;
}

.cnbtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    background-color: #26BAFF;
    transition: .5s all;
}

.cnbtn:hover {
    background-color: #26BAFF;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.sectiontwo {
    width: 100%;
    margin: 0;
    padding: 58px 0px;
}

.sectwo {
    width: 85%;
    margin: auto;
    overflow: auto;
}

.docleft {
    float: left;
    width: 50%;
}

.doctbtn {
    text-align: center;
    padding: 20px;
}

.docbtn a {
    text-decoration: none;
    display: inline-block;
}

.missionbtn {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 25px 35px;
    border: 2px solid #26BAFF;
    background-color: #26BAFF;
    border-radius: 3px;

}

.visionbtn {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 25px 35px;
    border: 2px solid #26BAFF;
    background-color: #232044;
    border-radius: 3px;
    margin-left: 10px;
    z-index: 1;
    position: relative;
}

.visionbtn:hover::before {
    height: 100%;
    width: 100%;
}

.visionbtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    background-color: #26BAFF;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.visionbtn:hover {
    background-color: #26BAFF;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


.missionbtn:hover {
    background-color: #232044;
}

.imgright {
    width: 50%;
    float: left;
    padding: 70px 0px 0px 40px;
}

.about-title {
    color: #232044;
    font-size: 32px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0px;
    padding: 20px 0 15px 0;
}

.aboutcnt {
    color: #26BAFF;
    padding-left: 7px;
}

.docleft p {
    color: #232044;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 30px 0px 0px 0px;
}

.underline {
    width: 120px;
    height: 5px;
    background-color: #26BAFF;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ulone {
    width: 7px;
    height: 5px;
    background-color: #26baff;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
}

.sectionthird {
    width: 100%;
    overflow: auto;
    margin: 0;
    background-color: #232044;
    padding: 20px 0px 60px 0px;
}

.secthird {
    width: 80%;
    overflow: auto;
    margin: auto;
    padding-top: 50px;
}

.secthird h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-bottom: 20px;

}

.secthird b {
    color: #26baff;
    font-size: 32px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
}

.secthird h5 {
    color: #26baff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-bottom: 20px;
}

.secthird p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    line-height: 27px;
    padding: 10px 100px 0px 0px;
    margin: 0;
}

.sectionfour {
    width: 100%;
    overflow: auto;
}

.docpart {
    width: 33.3%;
    float: left;
    padding: 10px;
    margin: 0;
}

.partone {
    padding: 50px 0px 0px 0px;
}

.img1 {
    padding: 0px 0px 25px;
}

.partone h4 {
    color: #26baff;
    font-size: 22px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    line-height: 28px;
    margin: 0;
    padding-bottom: 10px;
}

.partone p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    line-height: 26px;
    margin: 0;
    padding-right: 20px;
}

.sectionfive {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0px;
}

.features {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 20px;
}

.features h3 {
    color: #232044;
    font-size: 32px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
}

.features p {
    color: #232044;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    line-height: 25px;
    padding: 0px 170px;
}

.tableul {
    overflow: auto;
    margin: auto;
}

.ulline {
    width: 120px;
    height: 5px;
    background-color: #26BAFF;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.ultwo {
    width: 7px;
    height: 5px;
    background-color: #26baff;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

.sectionsix {
    width: 100%;
    margin: 0;
    overflow: auto;
}

.image-partion {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 50px 20px;
}

.imagepart {
    width: 33.3%;
    float: left;
    text-align: center;
}

.sameimgpart {
    height: 300px;
    width: 300px;
    margin: 0;
    position: relative;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.sameimgpart:hover {
    background-color: #232044;
    transform: translate(0px, -10px);
}

.sameimgpart:hover h4,
.sameimgpart:hover p {
    color: #fff !important;

}

.doclayout h4 {
    color: #232044;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-top: 20px;
}

.doclayout p {
    color: #232044;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 12px 10px;

}

.sameimgpart:hover .doc {
    color: #fff;
}

.hide-icon {
    display: none;
    margin: 0px auto;
}

.imgswap {
    padding-top: 50px;
}

.sameimgpart:hover .show-icon {
    display: none;
}

.sameimgpart:hover .hide-icon {
    display: block;
}

.line1::after {
    content: "";
    position: absolute;
    background-color: #26baff;
    width: 0px;
    height: 2px;
    top: -15px;
    right: -15px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.line1::before {
    content: "";
    position: absolute;
    background-color: #26baff;
    width: 2px;
    height: 0px;
    top: -15px;
    right: -15px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.sameimgpart:hover > .line1::before {
    height: 80px;
}

.sameimgpart:hover > .line1::after {
    width: 80px;
}

.sameimgpart:hover > .line2::before {
    width: 80px;
}

.sameimgpart:hover > .line2::after {
    height: 80px;
}


.line2::after {
    content: "";
    position: absolute;
    background-color: #26baff;
    width: 2px;
    height: 0;
    bottom: -15px;
    left: -15px;
    margin: 0;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.line2::before {
    content: "";
    position: absolute;
    background-color: #26baff;
    width: 0;
    height: 2px;
    bottom: -15px;
    left: -15px;
    margin: 0;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.sectionseven {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0px;
}

.samehead {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 20px;
}

.samehead h3 {
    color: #232044;
    font-size: 32px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
}

.samehead p {
    color: #232044;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    text-align: center;
    line-height: 25px;
    padding: 0px 170px;
    margin: 0;
}

.buttonraw {
    text-align: center;
    overflow: auto;
    margin: auto;
    display: table;
    padding: 80px 0px 80px;
}

.buttonraw li {
    display: inline-block;
}

.buttonraw a {
    text-decoration: none;
}

.btnraw {
    color: #26baff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 20px 15px;
    background-color: #242047;
}

.btnraw-active {
    color: #fff;
    background-color: #26baff;
}

.photogallery {
    width: 100%;
    overflow: auto;
    margin: 0;
}

.gallery {
    width: 33.3%;
    float: left;
    margin: 0;
    padding: 15px;
}

.item {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.picone {
    background-image: url(../images/1.png);
}

.pictwo {
    background-image: url(../images/3.png);
}

.picthree {
    background-image: url(../images/4.png);
}

.picfour {
    background-image: url(../images/5.png);
}

.picfive {
    background-image: url(../images/6.png);
}

.picsix {
    background-image: url(../images/7.png);
}

.picseven {
    background-image: url(../images/8.png);

}

.piceight {
    background-image: url(../images/9.png);

}

.picnine {
    background-image: url(../images/2.png);
}

.cotainer-fluid {
    width: 100%;
    overflow: auto;
    background-image: linear-gradient(rgba(35, 32, 68, .8), rgba(35, 32, 68, .8)), url(../images/promo_bg.jpg);
    padding: 150px 0px;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.icon-container {
    float: left;
    width: 25%;
    text-align: center;
}

.icon-container h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

.icon-container h4 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}

.sectioneight {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0px;
}

.clientone {
    background-image: url(../images/team1.jpg);
}

.clienttwo {
    background-image: url(../images/team2.jpg);
}

.clientthree {
    background-image: url(../images/team3.jpg);
}

.clientfour {
    background-image: url(../images/team4.jpg);
}

.clientfive {
    background-image: url(../images/team5.jpg);
}

.clientsix {
    background-image: url(../images/team6.jpg);
}

.clientone p {
    color: #232044;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    text-align: center;
    line-height: 25px;
}

.imagegallery {
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 80px 0px 50px 0px;
}

.gallerypart {
    width: 33.3%;
    float: left;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    
}
.hiddenimg{
    overflow: hidden;
}
.sameuser {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: top;
    margin: 0;
    transition-duration: 0.5s;
    }

.sameuser:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform: scale(1.1);
}

.clientname h2 {
    color: #232044;
    font-size: 26px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    padding: 10px 0px 8px 5px;
    margin: 0;
}

.clientname h4 {
    color: #232044;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    padding: 0px 0px 8px 5px;
    margin: 0;
}

.sectionnine {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: #f6f6f6;
}

.secnine {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 50px 0px;
}

.description {
    width: 40%;
    float: left;
    margin: 0;
    padding: 100px 50px;
}

.description h3 {
    color: #232044;
    font-size: 32px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
}

.description p {
    color: #232044;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding-right: 0px;
    line-height: 27px;
}

.card-container {
    width: 60%;
    overflow: auto;
}

.card {
    width: 33.33%;
    overflow: hidden;
    padding: 10px;
    float: left;
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px -1px 5px 1px #80808087;
}

.card-head::after {
    content: "";
    position: absolute;
    left: -15px;
    top: -65px;
    width: 100%;
    height: 160px;
    background-color: #26BAFF;
    border-radius: 70px;
    transform: rotate(30deg);
    overflow: hidden;
    z-index: -1;
}

.card-head h3,
h4 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
}

.month {
    font-size: 16px;
}

.card-list li {
    list-style: none;
    padding: 15px 0px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;

}

.card-list ul {
    padding: 0;
}

.card-btn {
    text-align: center;
}

.btn {
    border: 3px solid #26BAFF;
    padding: 14px 30px;
    background-color: transparent;
    border-radius: 5px;
}

.container-lab {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-image: linear-gradient(rgba(35, 32, 68, .8), rgba(35, 32, 68, .8)), url(../images/review_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0px;
    background-attachment: fixed;
}

.container-team {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.middleimg {
    height: 150px;
    width: 150px;
    background-image: url(../images/client.png);
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

.aboutus {
    padding: 30px 0px;
}

.aboutus h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    padding: 5px 0px;
}

.aboutus h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;

}

.aboutus p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    line-height: 30px;
    padding: 0px 150px 0px 150px;
}

.sectionblog {
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 70px 0px 30px 0px;
}

.sectionn-card {
    width: 100%;
    overflow: auto;
    margin: auto;
    background-color: #f6f6f6;
}

.cardbox {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 30px 0px;
}

.cardpart {
    width: 33.33%;
    float: left;
    margin: 0;
    box-sizing: border-box;
    padding: 20px;

}


.card-blog:hover {
    box-shadow: 0px 0px 20px 0px grey;
    margin: 0;
}

.cardimg {
    height: 190px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    border-radius: 5px;
    border: 1px solid lightgrey;

}

.cardimageone {
    background-image: url(../images/blog1.jpg);
}

.cardimagetwo {
    background-image: url(../images/blog2.jpg);
}

.cardimagethree {
    background-image: url(../images/blog3.jpg);
}

.samedoc {
    padding: 34px 16px;
    margin: 0;
    background-color: #fff;
    border: 1px solid lightgrey;
}



.samedoc h2 {
    color: #212529;
    font-size: 22px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;

}

.samedoc p {
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    text-align: center;
    padding: 10px 20px;
}

.bottom-btn {
    text-align: center;
    padding-top: 30px;
}

.bottom-btn a {
    text-decoration: none;
}

.readbtn {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 10px 10px;
    border: 2px solid #26BAFF;
    background-color: #26BAFF;
    border-radius: 3px;
}

.readbtn:hover {
    color: #000;
    background-color: transparent;
}

.form-blog {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0px;
}

.form-container {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0px;
}

.form-fluid {
    width: 85%;
    margin: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 0px grey;
    padding: 30px 50px;
}

.form-doc {
    width: 50%;
    float: left;
    margin: 0;
}

.form-doc h3 {
    color: #5b6b7a;
    font-size: 22px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    text-align: left;
    margin: 0;
    padding: 10px 0px 20px 0px;
}

.bottomborder {
    border-bottom: 1px solid #5b6b7a;
    padding: 5px 0px;
}

.textnone {
    height: 30px;
    width: 100%;
    border-style: none;
    outline: none;
}

.sendbtn {
    padding: 20px 40px;
    border-style: none;
    background-color: transparent;
    border: 1px solid #5b6b7a;
    margin-top: 30px;
}

.form-icon {
    width: 50%;
    float: left;
    margin: 0;
    padding: 10px 100px;
}

.form-icon tr:hover {
    box-shadow: 0px 0px 20px 0px grey;
}

.form-icon p {
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 50px 20px 70px 20px;
}

.footer {
    width: 100%;
    overflow: auto;
    margin: 0;
    background-color: #242047;
    padding: 50px;
}

.sm-footer {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.right-footer {
    float: right;
    margin: 0;
}

.footer-icon {
    color: #fff;
    float: left;
    list-style: none;
    padding: 0px 10px;
}

.fone {
    height: 40px;
    width: 40px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    text-align: center;

}

.left-footer {
    float: left;
    margin: 0;
}

.left-footer p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
}
